<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>My Github Page</title>
  	<link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
</head>

<body>
<header>
	<nav>
	<ul>
		<li><a href="/index.html">Home</a></li>
		<li><a href="{{ "/about" | prepend: site.baseurl }}">About</a></li>
    <li><a href="{{ "/contact" | prepend: site.baseurl }}">Contact</a></li>
	</ul>
	</nav>
</header>

{{ content }}

<footer>
  <div class="container">
      <div class="column">
          <h4>My Links</h4>
          <p>
              <a href="https://facebook.com/michaelheimann">facebook</a>
              <br>
              <a href="https://instagram.com/michaelheimann">instagram</a>
          </p>
      </div>
      <div class="column">
          <h4>My Story</h4>
          <p>Hi there! I am an aspiring UX DEsigner</p>
      </div>
  </div>
</footer>

</body>
</html>
